<div class='text-center'>
  <h1>Folder#index</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">
      
    <%= render 'folders/folders', folders: @folders %>
      
    <%= form_with(model: @folder, local: true) do |f| %>
      <div class="form-group">
      <%= f.label :name, 'Folder Name' %>
      <%= f.text_field :name,  class: "form-control" %>
      </div>

      <%= f.submit 'ä½œæˆ', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>