<div class='text-center'>
  <h1><%= @folder.name %></h1>
</div>
<div class='text-right'>
  <%= link_to 'フォルダを編集', edit_folder_path(@folder), class: 'btn btn-primary' %>
  <%= link_to 'フォルダを削除', @folder, method: :delete, data: { confirm: '本当に削除してよろしいですか？' }, class: 'btn btn-danger' %>
</div>

<div id="words-in-the-folder" class="row">
  <aside class="col-sm-3">
    <h4><%= link_to 'Folder', folders_path %></h4>
      <%= render 'folders/folders', folders: @folders %>
  </aside>
  
  <div class="col-sm-9">
    <%= render 'words/words', words: @words_classify %>
  </div>
</div>