<div class="row">
  <table id="words-table" class="table table-striped table-bordered">
    <tr>
      <th>Word</th>
      <th>Definition</th>
      <th>Link</th>
      <th>Folder</th>
    </tr>
    <% words.each do |word| %>
      <tr>
        <td><%= link_to(word.word, word_path(word.id)) %></td>
        <td><%= word.definition %></td>
        
        <script>
          $('[data-toggle="tooltip"]').tooltip();
        </script>
        
        <% if word.link.empty? %>
          <td>N/A</td>
        <% else %>
          <td data-toggle="tooltip" title="<%= word.link %>">
            <%= link_to('link', word.link) %>
          </td>
        <% end %>
        
        <td>
          <% word.folders.each do |folder| %>
          <%= folder.name %> ,
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate words %>
  