<div class="row">
  <table id="words-table" class="table table-striped table-bordered">
    <tr>
      <th class="table-word">Word</th>
      <th class="table-definition">Definition</th>
      <th class="table-link">Link</th>
      <th class="table-folder">Folder</th>
    </tr>
    <% words.each do |word| %>
      <tr>
        <td><%= link_to(word.word, word_path(word.id)) %></td>
        <td><%= word.definition %></td>
        
        <script>
          $('[data-toggle="tooltip"]').tooltip();
        </script>
        
        <% if word.link.empty? %>
          <td>N/A</td>
        <% else %>
          <td data-toggle="tooltip" title="<%= word.link %>">
            <%= link_to('link', word.link) %>
          </td>
        <% end %>
        
        <td>
          <% str = "" %>
          <% word.folders.each_with_index do |folder, index| %>
            <% str += folder.name + ', ' %>
          <% end %>
          <% str = str.chop %>
          <%= str.chop %>
        </td>
      </tr>
    <% end %>
  </table>
</div>
<%= paginate words %>
  