<div class='text-center'>
  <h1>Words#new</h1>
</div>
<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: @word, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>

      <div class="form-group">
          <%= f.label :word, 'Word' %>
          <%= f.text_field :word, class: 'form-control' %>
      </div>
  
      <div class="form-group">
          <%= f.label :definition, 'Definition' %>
          <%= f.text_field :definition, class: 'form-control' %>
      </div>
  
      <div class="form-group">
          <%= f.label :link, 'Link' %>
          <%= f.text_field :link, class: 'form-control' %>
      </div>
  
      <%= f.submit '新規作成', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>